
  text{
    text-align: left;
    position: relative;
    display: flex;
    margin-left: 10px;
    color: #fff;
    height: "370";
    size: "180";
    resize: none;
  }

  anothertext{
    text-align: center;
    position: relative;
    display: flex;
    margin-left: 150px;
    color: #fff;
    margin-top: 20px;
    resize: none;
  }

  description{
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    margin-left: 150px;
    margin-top: 10px;
  }

  image{
    position: relative;
    display: flex;
    margin-left: 150px;
    margin-top: 10px;
    size: 2;
  }

  buttonReport{
    margin-left: 350px;
    display: flex;
    width: 230px;
    height: 50px;
  }

  dropdown{
    margin-top: 25px;
  }

  dropdownItem{
      background-color: white;
      color:white;
  }

  buttonReserve{
    margin-left: 300px;
    display: flex;
    width: 230px;
    height: 50px;
  }